* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  display: flex;
}

.products {
  display: flex;
  padding-top: 20px;
}

.product {
  margin-right: 50px;
}

.section {
  margin-left: 50px;
}

.cart__item {
  padding-top: 20px;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, .7);
  cursor: wait;
}
